*, *:before, *:after {
    .box-sizing(border-box);
}

html, body {
    height: 100%;
}

body {
    font-family: @sans-serif;
    font-size: @font-size;
    color: @text;
    line-height: @line-height-base;
}

#app {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headings;
    font-weight: @headings-font-weight;
}

a {
    color: @dark-primary;
    &:active,
    &:focus,
    &:hover {
        color: darken(@dark-primary, 20);
    }
}

.text-center {
    text-align: center;
}

//FORMS

input {
    margin: 5px 0;
}

input[type="text"],
input[type="password"] {
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1px solid @divider;

    //Outline
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type=submit] {
    width: 100%;
    padding: 12px;
    color: @white;
    background: @primary;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

label {

}

///////////////////////////////////////////////////////////////////////////////

.AppTemplate {
    width: 100%;
    height: 100%;
}

///////////////////////////////////////////////////////////////////////////////

.Header {
    position: fixed;
    background: @dark-primary;
    color: @white;
    height: 60px;
    width: 100%;
    line-height: 60px;
    z-index: 1;

    .logo {
        height: 60px;
        .make-md-column(2);
        img {
            height: 36px;
            margin-top: 14px;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////

.Menu {
    .make-md-column(10);

    ul {
        .clearfix();
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
        }

        li.right-aligned {
            float: right;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: @white;
        font-weight: 600;
        padding: 0 10px 0 0;

        &:hover {
            text-decoration: underline;
        }
    }

    .login {
        color: @text;
        input {
            display: inline-block;
            width: 140px;
            padding: 13px;
            margin-right: 20px;
            font-size: 12px;
            border: 1px solid darken(@dark-primary, 5);
        }

        input[type="submit"] {
            padding: 13px;
            width: inherit;
            border: none
        }

        label {
            display: none;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////
//Ex Index
.PageTemplate {
    padding-top: 80px;
    .container-fixed();
}

///////////////////////////////////////////////////////////////////////////////

.PageIndex {
    .clearfix();
    background: @white;
    padding-bottom: 20px;

    h1 {
        margin: 10px 0;
    }

    .account {
        .make-md-column(4);
        .make-md-column-offset(4);
    }

    .panel {
        background: @light-primary;
        padding: 20px;
    }
}

///////////////////////////////////////////////////////////////////////////////

.Menu .AccountLogin {
    form {
        float: right;
    }

    span {
        line-height: 60px;
    }
}

.AccountSignup {

}

a.AccountLoginGoogle {
    padding-right: 20px;
    img {
        margin-top: 6px;
        width: 193px;
        height: 48px;
    }
}

.AccountUI {
    position: relative;
    display: inline-block;

    .dropdown {
        position: absolute;
        line-height: 24px;
        width: 140px;
        padding: 10px;
        top: 60px;
        right: 0;
        background: lighten(@dark-primary, 5);
        border-top: 1px solid darken(@dark-primary, 10);
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        a {
            display: block;
            text-align: center;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////

.Avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;

    //Letter
    font-size: 20px;
    font-weight: bold;
    color: @white;
    text-align: center;
    line-height: 40px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 1px solid fade(@white, 50);
    }

    &.small {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
    }
}

///////////////////////////////////////////////////////////////////////////////

.OnlineStatus {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;

    &.online {
        background: #42DC70;
    }
    &.offline {
        background: @danger;
    }
}

///////////////////////////////////////////////////////////////////////////////

.ChatView {
    //Make room for Header and Message footer
    padding-top: 60px;
    padding-bottom: 80px;
    height: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li p {
            overflow: hidden;
        }
    }
}

.ChatSidebarLeft {
    .make-md-column(2);
    padding: 0;
    height: 100%;
    background: @light-primary;
    overflow: hidden;

    .inner {
        padding-right: 20px;
        padding-left: 20px;
    }

    li {
        line-height: 32px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: lighten(@text, 20);
            &:hover {
                color: @primary;
            }
        }
    }

    .AdminBadge {
        margin-top: 7px;
        float: right;
        line-height: normal;
    }
}

.ChatSidebarRight {
    .make-md-column(2);
    padding: 0;
    float: right !important;
    height: 100%;
    background: @light-primary;
    overflow: hidden;

    .inner {
        padding-right: 20px;
        padding-left: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li {
            margin: 10px 0;
        }

        li p {
            overflow: hidden;
        }

        li > span {
            margin-left: 5px;
        }
    }
}

.ChatMessageView {
    height: 100%;
    overflow: hidden;
    padding-bottom: 60px; //offset room for header

    .inner {
        .make-md-column(12);
        margin-top: 20px;
    }

    .message {
        margin: 30px 0;

        &:first-child {
            margin-top: 0;
        }

        .message-avatar {
            float: left;
            padding-right: 20px;
            vertical-align: top;
        }

        .message-text {
            span {
                font-size: 13px;
                color: @text-light;
            }

            p {
                margin: 0;
                font-size: 16px;
            }
        }
    }

    .chatImage {
        height: 200px;
        img {
            max-width: 500px;
            max-height: 200px;
            margin-left: 60px;
        }
    }

    .chatVideoWrapper {

    }
}

.ChatMessageForm {
    .make-md-padding(2);
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: @light-primary;

    form {
        position: relative;
        border: 1px solid darken(@light-primary, 10);
        border-radius: 5px;
        background: white;
        height: 60px;
        margin: 10px auto;
        padding: 2px;
    }

    textarea {
        border-radius: 3px;
        width: 100%;
        padding: 8px;
        padding-right: 100px;
        height: 56px;
        resize: none;
        overflow-y: hidden;

        //Outline
        border: none;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    input[type="submit"] {
        position: absolute;
        right: 8px;
        top: 8px;
        margin: 0;
        width: 80px;
        height: 42px;
        color: @white;
        background: @primary;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        font-weight: bold;
    }

    .not-member {
        text-align: center;
        margin: 0 auto;
        line-height: 80px;
        span {
            font-weight: bold;
            color: @danger;
        }
        button {
            line-height: normal;
            margin: 0 10px;
            color: @text;
        }
    }
}

.ChatMessageViewHeader {
    width: 100%;
    height: 60px;
    background: @white;
    border-bottom: 1px solid @divider;

    .inner {
        .make-md-column(12);
        margin-top: 0;
    }

    h3 {
        line-height: 60px;
        margin: 0;
        display: inline-block;
    }

    .meta {
        line-height: 60px;
        display: inline-block;
        margin-left: 20px;
    }
}

///////////////////////////////////////////////////////////////////////////////

.Dashboard {
    padding-top: 60px;
    height: 100%;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;

        li p {
            overflow: hidden;
        }
    }

    //.row {
    //    .make-row();
    //}
    //
    //.channelList {
    //    .make-md-column(6);
    //}
    //
    //.more {
    //    .make-md-column(6);
    //
    //    a {
    //        .button();
    //        display: inline-block;
    //        margin-bottom: 10px;
    //    }
    //}
}

///////////////////////////////////////////////////////////////////////////////

.ReactModal__Overlay {
    z-index: 2 !important;
}

.ChatAdminSettings {
    display: inline-block;
    float: right;
    margin-top: 18px;

    a {
        .button();
        font-size: 12px;
    }
}

///////////////////////////////////////////////////////////////////////////////

.AdminBadge {
    font-size: 11px !important;
    background: @accent;
    color: white !important;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid darken(@accent, 5);
    padding: 1px 4px;
}

///////////////////////////////////////////////////////////////////////////////

.ChannelCreate {
    height: 100%;
    overflow: hidden;

    .row {
        .make-row();
    }

    .inner {
        margin: 20px 0;
        .make-md-column(6);
        .make-md-column-offset(3);
        background: @light-primary;
        padding-bottom: 30px;
    }

    textarea {
        width: 100%;
    }

    input[type="submit"] {
        margin-top: 10px;
    }
}

///////////////////////////////////////////////////////////////////////////////

.ChannelListAll {
    height: 100%;
    overflow: hidden;

    .inner {
        margin: 20px 0;
        .make-md-column(6);
        .make-md-column-offset(3);
        background: @light-primary;
        padding-bottom: 30px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding: 10px;

            &:nth-child(odd) {
                background: @white;
            }
        }
    }

    button {
        float: right;
        width: 80px;
        height: 26px;
        margin: -3px;
        color: @white;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        font-weight: bold;
        &.join {
            background: @primary;
        }
        &.leave {
            background: @danger;
        }
    }

    .ChatAdminSettings {
        margin-top: 0;
        a {
            float: right;
            width: 80px;
            height: 26px;
            margin: -3px;
            color: @white;
            text-align: center;
            padding: 0;
            line-height: 26px;
            border: none;
            border-radius: 3px;
            font-size: 12px;
            font-weight: bold;
            background: @dark-primary;
        }
    }

}