body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    color: @text;
    line-height: @line-height-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-family-heading;
    text-transform: uppercase;
}