
// Typography
@sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@headings: "GE Inspira";
@base: @sans-serif;

@font-size: 14px;
@font-size-lg: @font-size * 1.25;
@font-size-sm: @font-size * 0.85;
@font-size-xs: @font-size * 0.75;

@line-height-base: 1.5;
@headings-font-weight: 700;

// Forms
@input-color-placeholder: lighten(@text, 25%);